@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", serif;
}

.first-bar .first-text{
    padding-top: 10px;
    background: #4B4664;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    text-align: center;
}

.second-bar{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.second-bar .first-anchor-container a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", serif;
    font-weight: bold;
    padding-right: 30px;
    font-size: 15px;
}

.second-bar .first-anchor-container a:hover{
    text-decoration: underline;
}

.second-bar .first-anchor-container .sale-anchor-tag{
    color: red;
}

.second-bar .second-container img{
    position: absolute;
    top: 29px;
}

.second-bar .second-anchor-container a{
    text-decoration: none;
    color: black;
    font-family: "Roboto", serif;
    font-weight: bold;
    padding-right: 30px;
    font-size: 15px;
}

.second-bar .second-anchor-container a:hover{
    text-decoration: underline;
}

.second-bar .second-anchor-container i{
    padding-right: 10px;
}

.third-bar{
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #FEFEFE;
    text-align: center;
}

.third-bar .third-anchor-container a{
    text-decoration: none;
    color: gray;
    margin-left: 30px;
}

.third-bar .third-anchor-container a:hover{
    text-decoration: underline;
}

.fourth-class .image-container{
    display: flex;
    overflow: hidden;
}

.fourth-class .text-container{
    position: absolute;
    top: 200px;
    margin-left: 30px;
    font-weight: bold;
    color: white;
}

.fourth-class .text-container button{
    position: relative;
    bottom: -240px;
    width: 150px;
    height: 40px;
    font-weight: bold;
    background-color: #FFFFFF;
    border-color: #FFFFFF;
}

.fourth-class .text-container .set-h1-absolute{
    font-size: 80px;
}

.fourth-class .text-container .set-text-absolute{
    font-size: 20px;
}

.fourth-class .fourth-anchor-tag .first-a{
    text-decoration: none;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 50%;
    right: 10px;
}

.fourth-class .fourth-anchor-tag .second-a{
    text-decoration: none;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 55%;
    right: 10px;
}

.fourth-class .fourth-anchor-tag .third-a{
    text-decoration: none;
    font-size: 80px;
    color: white;
    position: absolute;
    top: 45%;
    right: 10px;
}

.fifth-section{
    padding: 30px 30px 30px 30px;
}

.fifth-section .background-images{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.fifth-section .background-images .img1{
    width: 32%;
    height: 80vh;
    position: relative;
    transition: 0.3s ease;
}

.fifth-section .background-images .img2{
    width: 32%;
    height: 80vh;
    position: relative;
    transition: 0.3s ease;
}

.fifth-section .background-images .img3{
    width: 32%;
    height: 80vh;
    position: relative;
    transition: 0.3s ease;
}

.fifth-section .background-images .img1 .set-text-absolute{
    position: absolute;
    top: 50px;
    left: 30%;
    color: white;
}

.fifth-section .background-images .img1 .set-p-tag-absolute{
    position: absolute;
    top: 90px;
    left: 20%;
    color: white;
}

.buttons1{
    transition: 0.3s ease;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 50px;
    display: none;
}

.buttons2{
    display: none;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 210px;
}

.img1:hover{
    transform: scale(1.02);
}

.img1:hover > .buttons1{
    display: block;
}

.img1:hover > .buttons2{
    display: block;
}

.fifth-section .background-images .img2 .set-text-absolute1{
    position: absolute;
    top: 50px;
    left: 30%;
    color: white;   
}

.fifth-section .background-images .img2 .set-p-tag-absolute2{
    position: absolute;
    top: 90px;
    left: 20%;
    color: white;
}

.buttons3{
    transition: 0.3s ease;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 50px;
    display: none;
}

.buttons4{
    display: none;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 210px;
}

.img2:hover{
    transform: scale(1.02);
}

.img2:hover > .buttons3{
    display: block;
}

.img2:hover > .buttons4{
    display: block;
}

.fifth-section .background-images .img3 .set-text-absolute3{
    position: absolute;
    top: 50px;
    left: 30%;
    color: white;   
}

.fifth-section .background-images .img3 .set-p-tag-absolute4{
    position: absolute;
    top: 90px;
    left: 20%;
    color: white;
}

.buttons5{
    transition: 0.3s ease;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 50px;
    display: none;
}

.buttons6{
    display: none;
    width: 150px;
    height: 40px;
    background-color: white;
    border-color: white;
    font-weight: bold;
    position: absolute;
    top: 450px;
    left: 210px;
}

.img3:hover{
    transform: scale(1.02);
}

.img3:hover > .buttons5{
    display: block;
}

.img3:hover > .buttons6{
    display: block;
}
